@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-blue-900: #0b0d17;
  --color-blue-300: #d0d6f9;
  --color-white: #ffffff;
  --color-black: #000000;

  --text-*: initial;

  --text-2: 6.25rem;
  --text-2--line-height: 114.6%;
  --text-2--letter-spacing: normal;
  --text-2--font-weight: 400;

  --text-3: 3.5rem;
  --text-3--line-height: 64.2%;
  --text-3--letter-spacing: normal;
  --text-3--font-weight: 400;

  --text-4: 2rem;
  --text-4--line-height: 36.7%;
  --text-4--letter-spacing: normal;
  --text-4--font-weight: 400;

  --text-7: 0.875rem;
  --text-7--line-height: 16.8%;
  --text-7--letter-spacing: 0.125rem;
  --text-7--font-weight: 400;

  /* mobile */
  --text-1-mobile: 5rem;
  --text-1-mobile--line-height: normal;
  --text-1-mobile--letter-spacing: normal;
  --text-1-mobile--font-weight: 400;

  --text-4-mobile: 1.125rem;
  --text-4-mobile--line-height: normal;
  --text-4-mobile--letter-spacing: normal;
  --text-4-mobile--font-weight: 400;

  --text-6-mobile: 1rem;
  --text-6-mobile--line-height: normal;
  --text-6-mobile--letter-spacing: 0.15rem;
  --text-6-mobile--font-weight: 400;

  --text-8-mobile: 0.875rem;
  --text-8-mobile--line-height: normal;
  --text-8-mobile--letter-spacing: 0.13125rem;
  --text-8-mobile--font-weight: 400;

  --text-9-mobile: 0.9375rem;
  --text-9-mobile--line-height: 1.8;
  --text-9-mobile--letter-spacing: normal;
  --text-9-mobile--font-weight: 400;

  /* tablet */
  --text-5-tablet: 1.25rem;
  --text-5-tablet--line-height: normal;
  --text-5-tablet--letter-spacing: 0.1875rem;
  --text-5-tablet--font-weight: 400;

  --text-9-tablet: 1rem;
  --text-9-tablet--line-height: 1.8;
  --text-9-tablet--letter-spacing: normal;
  --text-9-tablet--font-weight: 400;

  /* desktop */
  --text-1-desktop: 9rem;
  --text-1-desktop--line-height: normal;
  --text-1-desktop--letter-spacing: normal;
  --text-1-desktop--font-weight: 400;

  --text-4-desktop: 2rem;
  --text-4-desktop--line-height: normal;
  --text-4-desktop--letter-spacing: normal;
  --text-4-desktop--font-weight: 400;

  --text-5-desktop: 1.75rem;
  --text-5-desktop--line-height: normal;
  --text-5-desktop--letter-spacing: 0.25rem;
  --text-5-desktop--font-weight: 400;

  --text-8-desktop: 1rem;
  --text-8-desktop--line-height: normal;
  --text-8-desktop--letter-spacing: 0.15rem;
  --text-8-desktop--font-weight: 400;

  --text-9-desktop: 1.125rem;
  --text-9-desktop--line-height: 1.8;
  --text-9-desktop--letter-spacing: normal;
  --text-9-desktop--font-weight: 400;

  --font-*: initial;
  --font-barlow: "Barlow", sans-serif;
  --font-barlow-condensed: "Barlow Condensed", sans-serif;
  --font-bellefair: "Bellefair", sans-serif;
}

@layer base {
  @font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    src:
      local("Barlow"),
      url("/fonts/Barlow/Barlow-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 400;
    src:
      local("Barlow Condensed"),
      url("/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf")
        format("truetype");
  }

  @font-face {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 700;
    src:
      local("Barlow Condensed"),
      url("/fonts/Barlow_Condensed/BarlowCondensed-bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    src:
      local("Bellefair"),
      url("/fonts/Bellefair/Bellefair-Regular.ttf") format("truetype");
  }
}

@layer components {
  @counter-style nav-list {
    system: extends decimal;
    pad: 2 "0";
    suffix: "";
    speak-as: numbers;
  }

  ol.nav-list-style {
    list-style: nav-list inside;
    & li::marker {
      letter-spacing: 0.16875rem;
      font-weight: 700;
      color: var(--color-white);
    }
  }
}
